<ul>

  <a class="bg-green-400 px-3 py-2 rounded w-full" href="/newTodo">Add new todo</a>
  <div class="flex justify-between my-4">
    <p>Sort by</p>
    <form action="/sort" method="get" onchange="sortby()">
      <select name="sort" id="">
        <option name="hello" value="1">Undone tasks</option>
        <option name="hello" value="2">Newest added</option>
        <option name="hello" value="3">Oldest added</option>
      </select>
    </form>
  </div>
  {{#each todos}}
    <li class="flex justify-between border rounded mb-2 p-2">
      {{#if done}}
        <a class="line-through" href="/todo/{{id}}/done">{{description}}</a>
      {{else}}
        <a href="/todo/{{id}}/done">{{description}}</a>

      {{/if}}
      <div>
        <a href="todos/{{id}}/edit">Edit</a>
        <a href="todos/{{id}}/delete">Delete</a>
      </div>
    </li>
  {{/each}}
</ul>